@use "../global" as *;

.l-footer {
    margin-inline: auto;
    line-height: rem(23.17);
padding: rem(80) 0;
}

.l-footer__inner {
    width: rem(1060);
    display: flex;
    justify-content: space-between;
}

.l-footer__info {}

.l-footer__company {
    width: rem(715);
    font-family: 'Shippori Mincho', serif;
    font-weight: 400;
    font-size: rem(32);
    line-height: rem(23.17);
}

.l-footer__address {
    margin-top: rem(42);

}

.l-footer__contact {
    display: flex;
    margin-top: rem(42);
}

.l-footer__tel {}

.l-footer__instagram {
    width: 30px;
    margin-top: rem(16);
    margin-left: rem(55);
}

.l-footer__border {
    width: 1px;
    height: rem(200);
    background-color: #F45F5F;
}

.l-footer__nav {
    display: flex;
    margin-top: rem(-16);
}

.l-footer-nav__items--left {
    width: rem(64);
    margin: 0 rem(39) rem(20) rem(40);
}

.l-footer-nav__items--right {
    width: rem(160);
    margin: 0 0 rem(20) rem(40);
}

.l-footer-nav__item {
    margin-top: rem(20);

}

.l-footer-nav__link {}