@use "../global" as *;

.l-footer {
    // line-height: rem(23.17);
    padding-bottom: rem(80);

    @include MidTab {}
}

.c-inner.l-footer__inner {
    display: flex;
    flex-direction: column;
    margin-inline: auto;

    @include MidTab {
        // width: rem(1060);
        // padding: rem(80) rem(170);
        // padding: rem(170) 0;
        justify-content: space-between;
        flex-direction: row;
    }
}

.l-footer__info {
    width: min(100%, rem(375));
}

.l-footer__company {
    // width: rem(715);
    font-family: 'Shippori Mincho', serif;
    font-weight: 400;
    font-size: rem(32);
    line-height: rem(23.17);
}

.l-footer__address {
    margin-top: rem(42);
    font-style: normal;
}

.l-footer__contact {
    display: flex;
    margin-top: rem(42);
}

.l-footer__tel {}

.l-footer__instagram {
    width: 30px;
    margin-top: rem(16);
    margin-left: rem(55);
}

.l-footer__border {
    width: 1px;
    height: rem(200);
    background-color: #F45F5F;
}

.l-footer__nav {
    display: flex;
    margin-top: rem(42);
    ;
}

.l-footer-nav__items--left {
    width: rem(64);
    margin: 0 rem(20) rem(20) rem(20);
// padding:  0 rem(39) rem(20) rem(40);

    @include MidTab {
        
        margin: 0 rem(39) rem(20) rem(40);
    }
}

.l-footer-nav__items--right {
    width: rem(160);
    margin: 0 0 rem(20) rem(40);
}

.l-footer-nav__item {
    margin-top: rem(20);

}

