@use "../global" as *;

.l-header {
width: 100%;
max-width: rem(1400);
margin-inline: auto;
}

.l-header__inner {
    width: rem(1060);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(20);
}

.l-header__wrap {
max-width: rem(550);
width: 100%;
}

.l-header__contact {
display: flex;
align-items: center;
justify-content: right;
gap: rem(16);
}

.l-header__contact--link-instagram {

}

.l-header__contact__text {

}

.l-header__contact--link-mail {

}

.l-header__navigation {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: rem(6);
}

.l-header__navigation--item {

}

.l-header__navigation--link--home {

}

.l-header__navigation--text {

}




