@use "../global" as *;

.l-header {
    padding-top: 20px;
    background-color: var(--white);

    @include LargeTab {
        padding-top: 15px;
    }
}

.l-header__inner {
    max-width: 1160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 16px;
    margin-inline: auto;

    @include LargeTab {
        padding-inline: 50px;
    }
}

.l-header__logo {
    width: min(100%, 110px);

    @include LargeTab {
        width: min(100%, 178px);
        padding-top: 20px;
    }
}

.l-header__buttons {
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%)); //3つの列があり、それぞれの列の幅がその内容に基づいて最大幅100%にフィット
    // gap: 18px;
    justify-content: flex-end;
    align-items: center;

    @include LargeTab {
        gap: 16px;
    }
}

.l-header__lists {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 6px;
}

.l-header__list {

    &:not(:last-child) {
        margin-right: 30px;
    }

    &:first-child {
        margin-right: 37px;
    }
}

.l-header__list-image {
    width: min(100%, 28.68px);
}

.l-header__link--instagram {
    width: 30px;
}

.l-header__link--mail {
    width: 40px;
}

.l-header__nav{
    display: none;

    @include LargeTab {
        display: block;
    }
}