@use "../../global" as *;

.p-company {
    margin-top: 39px;
    margin-bottom: 80px;

    @include MidTab {
        margin-top: 160.36px;
        margin-bottom: 101px;
    }
}

.p-company__inner {
    // max-width: 375px;
    width: 100%;
    margin-inline: auto;
    position: relative;

    @include MidTab {
        max-width: 1400px;
        width: 100%;
        padding-inline: 0;
        margin-inline: auto;
    }
}

.p-company__heading {

    @include MidTab {
        display: flex;
        gap: 70px;
    }

}

.p-company__heading-image {
    aspect-ratio: 343/153;

    @include MidTab {
        width: calc(742 / 1400* 100%);
    }
}

.p-company__heading-image img {
    height: 100%;
}


.p-company__title-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.p-company__title-en {
    justify-content: left;
    margin-top: 26.99px;

    @include MidTab {
        font-size: 16px;
        padding-left: 10px;
    }
}

.p-company__title {
    font-family: "Shippori Mincho";
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    width: 96px;
    border-bottom: 1px solid var(--black);
    padding-bottom: 2px;

    @include MidTab {
        font-size: 40px;
        width: 100%;
        margin-top: 9px;
        padding-bottom: 8px;
        letter-spacing: normal;
        // padding-left: 5px;
    }
}

.p-company__description {
    font-family: "Shippori Mincho";
    margin-top: 85px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;

    @include MidTab {
        width: calc(816 / 1400* 100%);
        margin-inline: auto;
        margin-top: 199.48px;
        font-size: 24px;
        line-height: 50px
    }
}

.p-company__message-group {
    margin-top: 80px;

    @include MidTab {
        margin-top: 160px;
        padding-top: 153.5px;
        // padding-inline: 170px;
        padding-inline: min(calc(170/1400 * 100%), 100%);
        position: relative;
    }

}

.p-company__subtitle-group {}

.p-company__subtitle {
    @include MidTab {
        letter-spacing: normal;
        transform: translateX(-10px);
    }
}

.p-company__subtitle-en {
    justify-content: left;
    margin-top: 10px;

    @include MidTab {
        margin-top: 28px;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 40px;
        height: 1px;
        background-color: var(--red);
        margin-right: 20px;
    }
}

.p-company__message-image {
    margin-top: 40px;
    aspect-ratio: 343/212;
    // max-width: 343px;
    margin-inline: auto;

    @include MidTab {
        aspect-ratio: 650/402;
        max-width: calc(650/1400 * 100%);
        margin-top: 0;
        position: absolute;
        // top: 51.5%;
        top: 0;
        // top: 841px;
        right: 0;
        z-index: -1;
    }
}

.p-company__message-image img {}

.p-company__message {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 29.7px;

    @include MidTab {
        margin-top: 50px;
        max-width: calc(746/1060 * 100%);
        width: 100%;
        line-height: 30.7px;
    }
}

.p-company__message-name {
    display: flex;
    justify-content: flex-end;

    @include MidTab {
        justify-content: flex-start;
    }
}