@use "../../global" as *;

.p-concept {
max-width: rem(1400);
width: 100%;
    margin-top: rem(140);
    margin-inline: auto;
}

.p-concept__inner {
    display: flex;
    
}

.p-concept__image {

}

.p-concept__text {
max-width: rem(639);
width: 100%;
margin-left: rem(80);

}

.p-concept__title {
font-family: 'Shippori Mincho', serif;
font-weight: 400;
font-size: rem(24);
line-height: rem(34.75);
}

.concept__description {
margin-top: rem(40);
font-family: 'Noto Sans JP', sans-serif;
font-weight: 400;
font-size: rem(16);
line-height: rem(23.17);
}

.p-concept__button{
    margin-top: rem(40);
    display: flex;
    justify-content: flex-end;
}


