@use "../../global" as *;

.p-fv {
    background-color: var(--white);
    padding-top: 40px;
    overflow: hidden;

    @include MidTab {
        padding-top: 30px;
    }
}

.p-fv__inner {
    position: relative;
    max-width: 767px;
    width: 100%;
    padding-inline: 16px;
    margin: 0;
    margin-inline: auto;


    @include MidTab {
        max-width: 1400px;
        width: 100%;
        padding-left: min(calc(314 / 1400 * 100%), 314px);
        padding-right: 170px;
        padding-right: min(calc(170 / 1400 * 100%), 170px);
    }
}

.p-fv__text {
    max-width: calc(320/343 * 100%);
    width: 100%;
    margin-inline: auto;

    @include MidTab {
        max-width: 482px;
        position: absolute;
        top: calc(324 / 648 * 100%);
        // left: 170px;
        left: calc(170 / 1400 * 100%);
        z-index: 1;
    }
}

.p-fv__title {
    font-family: 'Shippori Mincho', serif;
    font-size: calc(32/16 * 100%);
    font-weight: 700;
    margin-top: 86px;
    min-width: calc(320 / 343 * 100%);
    width: 100%;

    @include MidTab {

        font-size: 48px;
        line-height: 69.5px;
        margin: 0;
    }
}

.p-fv__subtitle {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #F45f5f;
    margin-top: 17px;

    @include MidTab {
        font-size: calc(24 / 16 * 100%);
        line-height: 30.72px;
        margin-top: 30px;
    }
}

.p-fv__copyright {
    font-size: 10px;
    rotate: 90deg;
    position: absolute;
    bottom: -130px;
    left: -34px;

    @include MidTab {
        font-size: 13px;
        max-width: 200px;
        width: 100%;
        bottom: 42px;
        left: -69px;
        z-index: 1;
    }
}

.p-fv__copyright::before {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: #1a1a1a;
    position: absolute;
    top: 50%;
    right: 108%;
}






//swiper



.swiper-body {
    position: relative;
}

.swiper-wrapper2 {
    width: calc(100/343 * 100%);

    @include MidTab {
        width: calc(240/916 * 100%);
    }
}



.swiper1-slide {
    aspect-ratio: 343/350;
    // max-width: 343px;
    // width: 100%;


    @include MidTab {
        aspect-ratio: 916/648;
        max-width: 916px;
    }
}

.swiper1-slide img {
    aspect-ratio: 1;
    object-fit: cover;

@include MidTab {
    aspect-ratio:916/648;

    // height: 100%;
}
}

.swiper2-slide {

    // aspect-ratio: 1;
    // max-width: calc(100/120 * 100%);
    // max-height: calc(100/120 * 100%);
    // width: 100%;

    @include MidTab {
        // aspect-ratio: 1;
        // max-width: calc(200/240 * 100%);
        // max: height calc(200/240 * 100%);
    }
}

.swiper2-slide img {
    // height: 100%;
    aspect-ratio: 1;

    // width: 100px;
    // height: auto;
    // object-fit: cover;
}

.swiper2 {
    background-color: var(--white);
    width: calc(240/350 * 100%);
    position: absolute;
    bottom: -32px;
    right: calc(-60/343 * 100%);

    @include MidTab {
        width: 50%;
        bottom: 0;
        right: calc(-265/1060 * 100%);
        z-index: 1;
    }
}



.swiper2 {

    // padding-top: calc(20/343 * 100%);
    padding-top: 20px;
    // padding-left: calc(20/343 * 100%);
    padding-left: 20px;
    // padding-right: calc(20/343 * 100%);

    @include MidTab {

        // padding-top: calc(40/916 * 100%);
        // padding-left: calc(40/916 * 100%);
        // padding-right: calc(40/916 * 100%);
        padding-top: 40px;
        padding-left: 40px;
    }

}