@use "../../global" as *;

@use "../../global" as *;

.p-fv {
    background-color: var(--white);
    padding-top: 25px;
    padding-bottom: 100px;

    @include MidTab {
        padding: 0;
    }
}

.p-fv__inner {
    position: relative;

    @include MidTab {
        padding: 0 calc(15/1150*100%);
        max-width: min(1150px, 100%);
        margin-inline: auto;
    }
}

.p-fv__text-wrapper {
    padding-top: calc(20/335*100%);
    padding-right: calc(60/433*100%);
    padding-bottom: calc(20/335*100%);
    padding-left: calc(15/433*100%);
    background-color: var(--white);
    border-radius: 0 20px 0 0;
    position: absolute;
    top: calc(386/433*100%);
    left: 0;
    z-index: 1;

    @include MidTab {
        border-radius: 20px 0 0 0;
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        padding-top: calc(16/463*100%);
        padding-right: 50px;
        padding-bottom: calc(16/463*100%);
        padding-left: 50px;
        letter-spacing: 0.25em;
    }
}

.p-fv__text {
    font-size: calc(14/16*100%);
    line-height: normal;

    @include MidTab {
        font-size: 100%;
    }
}

.p-fv__title {
    font-weight: 400;
    font-size: 100%;
    line-height: normal;
    margin-top: calc(15/433*100%);

    @include MidTab {
        font-size: 150%;
    }
}


// swiper

.swiper-2col {
    display: flex;
    gap: calc(6/335*100%);

    @include MidTab {
        flex-direction: row-reverse
    }
}

.swiper1 {
    max-width: min(calc(102/335*100%), 100%);
}

.swiper1-slide {
    margin-top: calc(45/433*100%);
    aspect-ratio: 102/165;
    // width: 100%;

    @include MidTab {
        margin-top: 0;
        aspect-ratio: 310/304;
    }
}

.swiper-set {
    width: min(calc(227/335*100%), 100%);
}

.swiper2-slide {
    aspect-ratio: 227/154;
    // width: 100%;

    @include MidTab {
        aspect-ratio: 769/463;
    }
}

// .swiper2-slide img {
//     width: 100%;
// }

.swiper3 {

    @include MidTab {
        display: none;
    }
}

.swiper3-slide {
    margin-top: calc(4/433*100%);
    aspect-ratio: 227/154;
}
