@use "../../global" as *;

.p-point {
    padding-top: 40px;
    background-color: var(--white);
    padding-bottom: 80px;

    @include MidTab {
        padding-top: 160px;
        padding-bottom: 160px;
    }
}

.p-point__inner {
    position: relative;

    @include MidTab {
        // max-width: 1400px;
        max-width: 1160px;
        width: 100%;
        padding-inline: 50px;
        margin-inline: auto;
    }
}

.p-point__container {
    display: flex;
    flex-direction: column;

    @include MidTab {
        max-width: 1060px;
        width: 100%;
        flex-direction: row;
        // gap: 42px;
    }
}

.p-point__figure-container {
    width: 100%;
    margin-inline: auto;
    display: contents;
    order: 0;

    @include MidTab {
        display: block;
        max-width: calc(530/1060 * 100%);
        width: 50%;
    }
}

.p-point__figure-1 {
    aspect-ratio: 343/240;
    width: 100%;

    @include MidTab {
        aspect-ratio: 650/455.379;
        width: calc(650/530 * 100%);
        transform: translate(calc(170/1160 * -100%), 0);

    }
}

.p-point__figure-group {
    display: flex;
    width: 100%;
    margin-top: 40px;
    gap: calc(20/343 * 100%);
    order: 0;

    @include MidTab {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
        gap: 100px;
        width: 50%;
        justify-content: flex-end;
        margin-left: 42px;
    }
}

.p-point__figure-2 {
    aspect-ratio: 174/122;
    max-width: calc(174/343 * 100%);
    width: 100%;
    display: flex;
    align-items: flex-end;

    @include MidTab {
        aspect-ratio: 369/258.783;
        max-width: min(calc(369/530 * 100%), 100%);
        margin-top: 0;
        margin-right: calc(161/530 * 100%);
    }
}

.p-point__figure-3 {
    aspect-ratio: 149/200;
    max-width: calc(149/343 * 100%);
    width: 100%;

    @include MidTab {
        aspect-ratio: 375/501.518;
        max-width: calc(375/530 * 100%);
        margin-left: calc(155/530 * 100%);
    }
}

.p-point__text-group {
    margin-top: 80px;
    order: 3;

    @include MidTab {
        margin-top: 86px;
        width: 100%;
    }
}

.p-point__subtitle-group {
    margin-top: 0;

    @include MidTab {
        margin-top: 0;
    }
}

.p-point__subtitle {
    letter-spacing: normal;
    font-size: 24px;

    @include MidTab {
        transform: translateX(-10px);
        font-size: 32px;
    }
}

.p-point__subtitle-en {
    justify-content: start;
    margin-top: 10px;

    @include MidTab {
        margin-top: 23px;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 40px;
        height: 1px;
        background-color: var(--red);
        margin-right: 20px;
    }
}

.p-point__text {
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.5px;
    margin-top: 40px;
}

.p-point__button {
    margin-top: 80px;
    max-width: 240px;
    width: 100%;
    margin-inline: auto;

    @include MidTab {
        margin-top: 160px;
    }
}

.p-point__button-text::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    background-color: var(--black);
    rotate: 45deg;
    position: absolute;
    top: 20px;
    left: 23px;
}

.p-point__button-text::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    background-color: var(--black);
    rotate: -45deg;
    position: absolute;
    top: 26px;
    left: 23px;
}