@use "../../global" as *;


.p-single-news {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: var(--white);
    line-height: normal;


    @include MidTab {}

}

.p-single-news__heading {

    @include MidTab {
        display: flex;
        gap: calc(70 / 1060 * 100%);
    }
}
.p-single-news__inner {}

.p-single-news__heading {}

.p-single-news__heading-image {
    aspect-ratio: 343/153;

    @include MidTab {
        width: calc(742 / 1400* 100%);
    }
}

.p-single-news__heading-image img {
    // height: 100%;
}


.p-single-news__title-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.p-single-news__title-en {
    justify-content: left;
    margin-top: 26.99px;

    @include MidTab {
        font-size: 16px;
        padding-left: 10px;
    }
}

.p-single-news__title {
    font-family: "Shippori Mincho";
    font-size: calc(24 / 16 * 100%);
    font-weight: 700;
    line-height: normal;
    // width: 96px;
    border-bottom: 1px solid var(--black);
    padding-bottom: 2px;

    @include MidTab {
        font-size: calc(40 / 16 * 100%);
        width: 100%;
        margin-top: 9px;
        padding-bottom: 8px;
        letter-spacing: normal;
    }
}




.p-single-news__container {
    margin-top: 85px;
    width: min(100%, 860px);
    margin-inline: auto;

    @include MidTab {
        margin-top: 160px;
    }
}

.p-single-news__sp-set{
    display: flex;
    align-items: center;
  
}

.p-single-news__blog-title {
    font-size: 24px;
    margin-top: 40px;

}

.p-single-news__blog-sub-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 1em;
}

.p-single-news__content {
    margin-top: 40px;
}

.p-single-news__content-lists,
.p-single-news__content-list {
    margin-top: 1em;
}


.p-single-news__button {
    margin-top: 76px;
    padding-left: 15px;
    max-width: 255px;
    width: 100%;
    margin-inline: auto;


    @include MidTab {
        margin-top: 40px;
        padding: 0;

        // margin-left: auto;
        // margin-right: 0
    }
}

.p-single-news__line {
    margin-top: 80px;

    @include MidTab {
        margin-top: 160px;
    }
}

.p-single-news__sub-title {
    color: var(--red);
    text-align: center;
    margin-top: 40px;
}

.p-single-news-card__wrapper {
    display: flex;
    margin-top: 40px;
}

.p-single-news__container {
    margin-top: 50px;

    @include MidTab {
        margin-top: 66px;
    }
}

.p-single-news__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 13px;

    @include MidTab {
        grid-template-columns: repeat(4, 1fr);
        gap: 80px 40px;
    }
}

.p-single-news-card__label-title{
    text-align: center;
    border-radius: 50px;
    border: 1px solid #1A1A1A;
    background: #FCFCFC;
    padding: 5px 0;
    width: 100px;
    margin-left: 20px;
}

.p-single-news-card__label {
    font-size: 13px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #1A1A1A;
    background: #FCFCFC;
    padding: 5px 0;
    width: 100px;
    margin-inline: auto;
}

.p-single-news-card__time{
    font-size: 10px;

    @include MidTab {
        font-size: 13px;
    }
}

.p-single-news-card__txt .p-single-news-card__p{
    font-size: 13px;

    @include MidTab {
        font-size: 16px;
    }
}

.p-single-news__pagination {
    margin-top: 170px;
}