@use "../../global/" as *;

.p-top-concept {
    width: 100%;
    margin-inline: auto;
    margin-top: 80px;
    margin-bottom: 80px;

    @include MidTab {
        margin-top: 140px;
        max-width: 1400px;
        padding-right: min(calc(170 / 1400 * 100%), 100%);
        padding-bottom: 160px;
    }

    @include OverTab {
        margin-top: 140px;
        max-width: 1400px;
        padding-right: 170px
    }
}

.p-top-concept__inner {
    padding: 0 16px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: min(calc(80 / 375 * 100%), 100%);


    @include MidTab {
        max-width: 1230px;
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: row-reverse;
        gap: 80px;
    }
}

.p-top-concept__image {
    aspect-ratio: 359/254;
    margin-top: 80px;
    order: 1;

    @include MidTab {
        aspect-ratio: 511/361;
        max-width: calc(511/1230 * 100%);
        margin-top: 0;
    }
}

.p-top-concept__image img {
    height: auto;
    object-fit: cover;
    border-radius: 0 0 20px 0;
}


.p-top-concept__text {
    padding-left: 52px;

    @include MidTab {
        max-width: 639px;
        width: 100%;
        padding: 0;
    }
}

.p-top-concept__title {
    font-family: 'Shippori Mincho', serif;
    font-size: 20px;
    line-height: normal;

    @include MidTab {
        font-size: calc(24 /16 * 100%);
        font-weight: 400;
        line-height: calc(35 / 24);
    }
}

.p-top-concept__description {
    margin-top: 40px;
    font-size: 16px;
    line-height: calc(23 / 16);

    @include MidTab {
        font-size: calc(16 / 16 * 100%);
    }
}

.p-top-concept__button {
    margin-top: 76px;
    padding-left: 15px;
    max-width: 255px;
    width: 100%;
    margin-inline: auto;


    @include MidTab {
        margin-top: 40px;
        padding: 0;

        margin-left: auto;
        margin-right: 0
    }
}