@use "../../global" as *;

.p-top-message {
    background-color: #FCFCFC;
    width: 100%;
}

.p-top-message__inner {
    max-width: 375px;
    padding: 80px 0 40px 16px;

    @include MidTab {
        max-width: 1400px;
        width: 100%;
        margin-inline: auto;
        padding: 160px 170px 160px 0;
        display: flex;
        flex-direction: column;
    }
}

.p-top-message__image {
    aspect-ratio: 359/212;
    width: 359px;
    display: block;

    @include MidTab {
        aspect-ratio: 1060/439;
        max-width: 1060px;
        width: 100%;
    }
}

.p-top-message__image img {
    width: 100%;
    height: 100%;
}

.p-top-message__text {
    background-color: #FCFCFC;
    max-width: 343px;
    width: 100%;
    padding: 40px 16px 0 26px;
    margin-left: 16px;
    transform: translateY(-40px);
    border-radius: 20px 0 0 0;

    @include MidTab {
        max-width: 965px;
        padding: 39px 70px 11px 40px;
        margin-left: 166px;
        transform: translateY(-100px);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    @include LargeTab {
        margin-left: 180px;
        padding: 39px 40px 11px 40px;
    }

    @include OverTab {
        margin-left: 435px;
        padding: 39px 170px 11px 40px;
        transform: translateY(-160px);
    }
}

.p-top-message__description {
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p-top-message__button {
    margin-top: 40px;
    width: 240px;
    margin-left: 9px;

    @include MidTab {
        margin-left: 0;
    }
}











