@use "../../global" as *;

.p-top-business {
    padding: rem(160) 0;
    background-color: var(--bg_grey);
}

.p-top-buisness__button {
    margin-top: 76px;
    padding-left: 15px;
    max-width: 255px;
    width: 100%;
    margin-inline: auto;


    @include MidTab {
        margin-top: 40px;
        padding: 0;
        margin-left: auto;
        margin-right: 0
    }
}


.p-top-business__ttl {

    @include MidTab {

        writing-mode: vertical-rl;
        width: fit-content;
        height: fit-content;

        h2 {
            font-size: rem(32);
            font-weight: 500;
            letter-spacing: calc(46 / 32 * 0.1em);
            text-indent: 0.3em;
        }
    }
}

.p-top-business__ttl-en {
    font-size: rem(13);
    line-height: calc(17 / 13);
    color: var(--red);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 9px;
    margin-left: rem(10);

    @include MidTab {
        justify-content: flex-end;

    }

    &::before {
        content: "";
        background-color: var(--red);
        display: block;
        width: rem(40);
        height: 1px;

        @include MidTab {
            width: 1px;
            height: rem(40);
            margin-bottom: rem(16);

        }
    }
}

.p-top-business__container {

    @include MidTab {
        display: grid;
        grid-template-columns: rem(60) 1fr;
        gap: rem(60);
    }
}

.p-top-business__card__figure {
    margin-top: 20px;

    @include MidTab {
        margin-top: 0;
    }
}