@use "../../global" as *;

.p-works {
padding-top: 30px;
padding-bottom: 40px;
  background-color: var(--white);

    @include MidTab {
     
    }
.p-works__heading {

    @include MidTab {
        display: flex;
        gap: 70px;
    }
}
}

.p-works__inner {

}

.p-works__heading {

}

.p-works__heading-image {
    aspect-ratio: 343/153;

    @include MidTab {
        width: calc(742 / 1400* 100%);
    }
}

.p-works__heading-image img {
    height: 100%;
}


.p-works__title-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.p-works__title-en {
    justify-content: left;
    margin-top: 26.99px;

    @include MidTab {
        font-size: 16px;
        padding-left: 10px;
    }
}

.p-works__title {
    font-family: "Shippori Mincho";
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    width: 96px;
    border-bottom: 1px solid var(--black);
    padding-bottom: 2px;

    @include MidTab {
        font-size: 40px;
        width: 100%;
        margin-top: 9px;
        padding-bottom: 8px;
        letter-spacing: normal;
        // padding-left: 5px;
    }
}




.p-works__container {
margin-top: 85px;

    @include MidTab {
        margin-top: 160px;
    }
}

.p-works__cards {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 40px 13px;

    @include MidTab {
        grid-template-columns: repeat(3, 1fr);
        gap:  80px 40px;
    }
}


.p-works__card__figure {

}

.p-works-card__label{
text-align: center;
border-radius: 50px;
border: 1px solid #1A1A1A;
background: #FCFCFC;
padding: 5px 0;
width: 100px;
margin-inline: auto;
}

.p-works-card__txt{
    margin-top: 20px;

    @include MidTab {
        display: flex;
        gap: 10px;
    }
}

.p-works-card__txt .p-works-card__p{
    margin-top: 10px;

    @include MidTab {
        margin-top: 0;
    }
}
.p-works-card__p{

&::before{

    @include MidTab {
        
        content: "";
        display: inline-block;
        width: 20px;
        height: 1px;
        background-color: var(--black);
        margin-right: 10px;
        margin-bottom: 5px;
    }
}
}

.p-works-card__txt time{
    font-size: 100%;
}

.c-pagination {
text-align: center;
margin-top: 80px;
}

.c-breadcrumb {
margin-top: 80px;
}

