@use "../../global" as *;

.c-button {}

.c-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 18px 40px;
    // height:rem(60);
    border: 1px solid #F45F5F;
    border-radius: rem(20) 0px rem(20) 0px;
    position: relative;


    &:hover {
        background-color: #F45F5F;
        color: #fcfcfc
    }
}


.c-button__text::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    background-color: var(--black);
    rotate: 45deg;
    position: absolute;
    top: rem(26);
    left: rem(210);

}

.c-button__text:hover::before {
    background-color: #fcfcfc;
}

.c-button__text::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    background-color: var(--black);
    rotate: -45deg;
    position: absolute;
    top: rem(21);
    left: rem(210);
}

.c-button__text:hover::after {
    background-color: #fcfcfc;
}