@use "../../global" as *;

.c-cards {
  display: block;
  width: 100%;


  @include MidTab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(25);
  } 
}

.c-card__figure {
  aspect-ratio: 297 / 184;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.c-card__txt {
  margin-top: rem(40);

  h3 {
    font-size: rem(24);

    @include MidTab {
      
      font-size: rem(20);
      line-height: calc(29 / 20);
    }
  }

  p {
    font-size: rem(16);
    margin-top: rem(20);

    @include MidTab { 
    font-size: rem(13);
    line-height: calc(17 / 13);
  }
}
}