@use "../../global" as *;

.c-line{
    max-width:calc(343/375 * 100%);
    width: 100%;
    margin-inline: auto;
}


// ハンバーガーメニュー


.c-hamburger {
    width: 40px;
    aspect-ratio: 1;
    display: block;
    background: var(--red);
    border-radius: 50%;
    border: none;
    position: relative;
   margin-left: 20px;
   cursor: pointer;

    @include LargeTab {
        display: none;
    }

    span {
        height: 1px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%; // calc ( 20 / 40 * 100%)
        transition: .3s ease-out;
    }

    span:nth-child(1) {
        translate: -50% calc(-50% - 6px);
        background: linear-gradient(to right, transparent 0%, transparent calc(6 / 20 *100%), #fff calc(6 / 20 * 100.1%), #fff 100%);
    }

    span:nth-child(2) {
        background: var(--white);
        translate: -50% -50%;
        // transform: translate( -50%, -50%)rotate(45deg);
        // color: red;
        // color: black;
    }

    span:nth-child(3) {
        background: linear-gradient(to right, transparent 0%, transparent calc(6 / 20 *100%), #fff calc(6 / 20 * 100.1%), #fff 100%);
        translate: -50% calc(-50% + 6px);
    }

}

//ボタンが押された後（is-active)
.c-hamburger.is-active {

    span:nth-child(1) {
        opacity: 0;
    }

    span:nth-child(2) {
        rotate: 20deg;
    }

    span:nth-child(3) {
        background-color: #fff;
        translate: -50% -50%;
        rotate: -20deg;
    }


}






//ドロワーメニュー
.c-drawer {
    background-color: var(--white);
    position: fixed;
    padding-top: 50px;
    padding-bottom: 80px;
    width: 100%;
    height: 100vh;

    visibility: hidden;
    opacity: 0;
    z-index: 130;
    transition: opacity .3s, visibility .3s;
}

.c-drawer.is-active {
    visibility: visible;
    opacity: 1;
}



body.no-scroll {
    overflow: hidden;
}


// .c-drawer__logo {
//     aspect-ratio: 1;
//     width: min(100px, 100%);
//     margin-inline: auto;
// }

.c-drawer-inner{
    margin-block: 35px;
}

.c-drawer__logo img {
    height: 100%;
}

.c-drawer__nav {
    padding-inline: 16px;
}

.c-drawer__list {
    font-family: 'poppins';
    font-weight: 500;
}

.c-drawer__item {
    list-style: none;
}



.c-drawer__link {
    padding-top: rem(15);
    padding-bottom: rem(15);
    color: var(--black);
    text-transform: uppercase;
    font-family: "Noto Sans JP";
font-size: 20px;
font-weight: 400;
line-height: normal;

    &::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--red);
      margin-right: 20px;
    }
}




.c-drawer__button {
    margin-top: rem(40.5);
}

.c-drawer__button a {
    font-family: 'poppins';
    font-size: rem(16);
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: rem(10);

    &::before,
    &::after {
        display: none;
    }
}

.c-drawer__button--white {}

.c-drawer__icon-group {
    display: flex;
    width: rem(78.1);
    justify-content: space-between;
    margin-inline: auto;
    margin-top: rem(38);
}

.c-drawer__icons{
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    margin-top: 60px;
    padding-inline: 34px;
}

.c-drawer__icon img{
    aspect-ratio: 1;
width: 100px;
  
}