@use "../../global" as *;

.c-inner {
    max-width: rem(345);
    width: 100%;
    margin-inline: auto;
    padding-inline: 15px;

    @include MidTab {
        max-width: rem(1160);
        // width: 100%;
        // margin-inline: auto;
        padding-inline: rem(50);
    }
}